.ant-card {
  background-color: #ffffff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 24px;

  &-head-title,
  .ant-form-item-label>label {
    color: @dark-background !important;
  }

  .ant-input-number,
  .ant-picker,
  .ant-input {
    width: 100%;
  }

  .ant-input-number input,
  .ant-input input,
  .ant-picker input {
    color: #000000 !important;
  }

  .ant-btn-primary {
    background-color: @primary-color !important;
    border-color: @primary-color !important;
    width: auto;
  }

  .ant-btn-danger {
    background-color: #ff4d4f !important;
    border-color: #ff4d4f !important;
  }
}

.dark-mode {
  .ant-card {
    background-color: @secondary-color !important;
    color: #fff;

    .ant-form-item-label>label,
    .ant-input input,
    .ant-picker input {
      color: #fff !important;
    }
  }

  .ant-btn-primary {
    background-color: @primary-color !important;
    border-color: @primary-color !important;
  }

  .ant-btn-danger {
    background-color: #ff4d4f !important;
    border-color: #ff4d4f !important;
  }

  .ant-checkbox-wrapper {
    color: #fff !important;
  }
}

/* Media Queries */
@media (max-width: 768px) {

  .App-header,
  .header {
    padding: 10px;
  }

  .ant-card {
    padding: 16px;
  }

  .login-box {
    padding: 20px;
  }

  .ant-btn-primary {
    width: 100%;
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    position: relative;
    padding: 10px 0;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }

  .user-box input,
  form .submit-button {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .ant-card {
    padding: 12px;
  }

  .login-box,
  .header,
  .content,
  .sidebar {
    padding: 10px;
  }

  .user-box input,
  form .submit-button {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .ant-card {
    padding: 8px;
  }

  .login-box,
  .header,
  .content,
  .sidebar {
    padding: 5px;
  }

  .user-box input,
  form .submit-button {
    font-size: 12px;
  }
}