.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-delete-button {
  border-radius: 8px;
}

.category-panel {
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-row {
  margin-bottom: 16px;
}

.expense-input,
.expense-input-number,
.expense-button {
  border-radius: 8px;
}

.expense-add-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.category-form {
  margin-top: 20px;
}

.new-category-input {
  border-radius: 8px;
}
